.page-header
  %h1= @room.name

%table.table.table-bordered.table-striped#room{'data-id' => @room.id}
  %thead
    %tr
      %th.span2 Email
      %th.span10 Text

  %tbody
    = render @messages

= render 'form'
