.page-header
  = link_to rooms_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to @room, :class => 'btn btn-primary' do
    %i.icon-info-sign.icon-white
    Show
  %h1 Editing room

= render 'form'
